:root {
  --dashboard-card-width: 200px;
  --aggregate-view-width: 450px;
}

.dashboard {

}

.dashboard-card {
  /* padding-right: 0.5rem; */
  /* width: var(--dashboard-card-width); */
  /* max-width: var(--dashboard-card-width); */
}
.dashboard-calendar {
  /* width: calc(100% - var(--dashboard-card-width)); */
  /* padding-right: 0.5rem; */
}
.dashboard-card .custom-card-header {
  /* flex-flow: column; */
}
.dashboard-card .custom-card-body {
  /* height: 2rem; */
  /* line-height: 1.5rem; */
}
@media screen and (max-width: 1112px) {
  .dashboard-card,
  .dashboard-calendar,
  .dashboard-aggregate-view {
    /* width: 100% !important; */
    /* max-width: 100%; */
  }

  .dashboard-card {
    /* padding: 0; */
  }

  .dashboard-aggregate-view {
    /* padding: 0; */
  }

  .dashboard-card .custom-card {
    /* display: inline-block; */
    /* min-width: calc(50% - 0.5rem); */
  }

  .dashboard-card .custom-card:nth-child(2n-1) {
    /* margin-left: 0.25rem; */
    /* margin-right: 0.5rem; */
  }
}


.dashboard-card-calendar {
  width: calc(100% - var(--aggregate-view-width));
}

.dashboard-calendar {
  /* width: calc(100% - var(--aggregate-view-width)); */
  padding-right: 1rem;
}

.dashboard-aggregate-view {
  width: var(--aggregate-view-width);
  max-width: var(--aggregate-view-width);
  /* padding-right: 0rem; */
}

.dashboard-card {
  /* width: calc(100% - var(--aggregate-view-width)); */
  padding-right: 0.5rem;
}
.dashboard-card .custom-card {
  width: calc(25% - 0.5rem);
  min-width: calc(25% - 0.5rem);
  margin-right: 0.5rem;
  /* margin-left: 0.25rem; */
}
.dashboard-card .custom-card-header {
  flex-flow: column;
}
.dashboard-card .custom-card-body {
  min-height: 2rem;
  line-height: 1.5rem;
}

.dashboard-card .custom-card:nth-child(2n-1) {
  /* padding-left: 0.25rem; */
  /* padding-right: 0.25rem; */
}

@media screen and (max-width: 1440px) {
  .dashboard-card-calendar {
    width: 100% !important;
    max-width: 100%;
  }

  .dashboard-card,
  .dashboard-calendar,
  .dashboard-aggregate-view {
    padding-right: 0rem;
  }

  .dashboard-aggregate-view {
    width: 100%;
    max-width: 100%;
    padding-top: 0.5rem;
  }

  .dashboard-card {
    /* padding: 0; */
    /* padding-top: 0.5rem; */
    /* padding-right: 0.25rem; */
  }

  .dashboard-card .custom-card {
    width: calc(50% - 0.25rem);
    min-width: calc(50% - 0.25rem);
    margin: 0;
  }

  .dashboard-card .custom-card {
    /* display: inline-block; */
    /* min-width: calc(50% - 0.5rem); */
  }

  .dashboard-card .custom-card:nth-child(2n-1) {
    /* padding-left: 0.5rem; */
    margin-left: 0rem;
    margin-right: 0.5rem;
    /* padding-right: 0.5rem; */
  }
}
