body {
  max-width: 100%;
  min-height: 100vh;
  --bg_base_color: #eeeff1;
  background: var(--bg_base_color);
  overflow: initial !important;
}

.row,
.col {
  padding: 0;
  margin: 0;
  --bs-gutter-x: 0 !important;
  --bs-gutter-y: 0 !important;
}

.bg_base_color {
  background-color: var(--bg_base_color);
}

.bg-white {
  background-color: #efefef;
}
.bg-darkBlue {
  background-color: #1B435D;
}
.bg-blue {
  background-color: #78BBE6;
}
.bg-skyBlue {
  background-color: #D5EEFF;
}
.bg-orange {
  background-color: #F99F48;
}
.font-white {
  color: #efefef !important;
}

/** --- ステータスバッジ 表示スタイル STR --- */
.status-color.none {
  background-color: #333333;
}
.status-color.draft {
  background-color: #99ccff;
}
.status-color.pending {
  background-color: #ffcc66;
}
.status-color.approval,
.status-color.complete {
  background-color: #99cc99;
}
.status-color.reject {
  background-color: #ff9999;
}
.status-color.cancel {
  background-color: #858483;
}
/** --- ステータスバッジ 表示スタイル END --- */

:root {
  --navbar-height: 60px;
  --navbar-color: #e7e7e7;
  --nav-menu-width: 90px;
  --nav-item-height: 4rem;
  --sub-navbar-height: 2.75rem;
  --sp-navbar-height: 3.75rem;
  --sp-nav-menu-height: 3.5rem;
  --sp-menu-tab-height: 2.5rem;
}

.classification-label {
  width: 5rem;
  height: 100%;
  background-color: #f0f0f0;
  color: #333333;
  border-radius: 5px;
  text-align: center;
  font-size: 0.75rem;
  border: 1px solid #333333;
  margin-top: 0.2rem;
}

/** --- navbar STR --- */
.navbar {
  position: fixed !important;
  height: var(--navbar-height);
  width: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 3;
  background: #164a84;
}
.navbar-brand:hover {
  color: var(--navbar-color);
}
.navbar span {
  color: var(--navbar-color);
}
.navbar .version {
  font-size: 1rem;
}

.navbar.sp-only {
  height: var(--sp-navbar-height);
}
.navbar.sp-only span {
  font-size: 1rem;
}
.navbar.sp-only .version span {
  font-size: 0.75rem;
}

.sub-navbar {
  background: var(--bg_base_color);
  height: var(--sub-navbar-height);
  margin-left: var(--nav-menu-width);
  width: calc(100% - 90px);
  line-height: 2.5rem;
  z-index: 2;
  box-shadow: 1px 1px 0 rgba(0, 0, 0, 0.1);
  position: fixed;
  top: var(--navbar-height);
}
/** --- navbar END --- */

/** --- nav-menu STR --- */
.nav-menu {
  position: fixed;
  max-width: var(--nav-menu-width) !important;
  min-width: var(--nav-menu-width) !important;
  top: var(--navbar-height);
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 3;
  text-align: center;
  background-color: #c2cbd2;
  border-right: 1px solid #e7e7e7;
}

.nav-item {
  position: relative;
  height: var(--nav-item-height);
}
.nav-item:hover {
  .bi {
    color: #164a84;
  }
  .bi + span {
    color: #164a84;
  }
}
.nav-item .bi {
  display: block;
  font-size: 1.5rem;

}
.nav-item p {
  font-size: 0.75rem;
  padding: 0;
}

.nav-item.pos-bottom {
  position: absolute;
  width: 100%;
  bottom: 2rem;
}

.nav-link {
  cursor: pointer;
  color: rgb(108, 117, 125);
}

.nav-link:focus {
  color: rgb(108, 117, 125);
}

.nav-link:hover {
  color: rgb(108, 117, 125, 0.8);
}

.nav-link.disabled {
  color: rgba(108, 117, 125, 0.1);
}

.current-nav-item .bi {
  color: #164a84;
  font-weight: bold;
}
.current-nav-item .bi + span {
  color: #164a84;
  font-weight: bold;
}

.sub-item p {
  font-size: 0.75rem;
  padding: 0.5rem 0 0.5rem 0;
  margin: 0;
}

.nav-sub-item {

}

.nav-item-sub {
  position: absolute;
  top: 0;
  height: 0;
  background-color: #e7e7e7;
  border: solid 1PX #c2cbd2;
  box-shadow: 3px 3px 0 rgba(0, 0, 0, 0.2);
  transform: translateX(-100%);
  transition: height 0.2s 0s ease-in-out;
}
.sub-item {
  border-bottom: solid 1px #c2cbd2;
  height: 3rem;
  width: 110px;
}
.sub-item p {
  padding-top: 0.75rem;
}
.nav-item:hover .nav-item-sub {
  height: 6rem;
  left: 100%;
  transform: translateX(0);
}
/** --- nav-menu END --- */

/** --- コンテンツ表示領域 STR --- */
.loading-view {
  margin-top: 50vh;
}

.content-body {
  /* position: relative; */
  /* height: 100vh; */
}

.content-parent {
  display: flex;
  overflow: hidden;
  z-index: 0;
  margin-left: var(--nav-menu-width);
  background: var(--bg_base_color);
}

.content {
  overflow: auto;
  right: 0;
  left: 0;
  width: 100%;
  min-height: calc(100vh - var(--navbar-height) - var(--sub-navbar-height));
  margin-top: calc(var(--navbar-height) + var(--sub-navbar-height));
  padding: 1rem;
}

.slide-menu {
  position: fixed;
  min-height: calc(100vh - var(--navbar-height) - var(--sub-navbar-height));
  width: 0;
  left: var(--nav-menu-width);
  height: 100vh;
  z-index: 2;
  background: #99cc99;
  overflow: hidden;
}
.slide-menu > {
  margin-top: calc(var(--navbar-height) + var(--sub-navbar-height));
}

/*====== 左に消えるアニメーション ======*/
.slide-menu.slide-out {
	animation: SlideOut 0.5s forwards;
}
@keyframes SlideOut{
  from {
	  transform: translateX(0);
    /* transition: scale(0, 0); */
    width: auto;
  }
  to {
	  transform: translateX(-100%);
    /* transition: scale(10, 10); */
    width: auto;
  }
}

/*====== 右に現れるアニメーション ======*/
.slide-menu.slide-in {
	animation: SlideIN 0.5s forwards;
}
@keyframes SlideIN{
  from {
	  transform: translateX(-100%);
    width: auto;
  }
  to {
	  transform: translateX(0);
    width: auto;
  }
}

.page-title {
  display: inline-block;
  width: 100%;
  padding: 0rem 1rem 0.5rem 1rem;
  margin-bottom: 1rem;
  border-bottom: 1px solid #e7e7e7;
}
/** --- コンテンツ表示領域 END --- */

/** --- ログイン画面 STR --- */
.login-page {
  position: fixed;
  top: var(--navbar-height);
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.login-content-error {
  position: fixed;
  width: 100%;
  padding-top: 1rem;
}

.login-content {
  z-index: 0;
  padding: 0 0.5rem;
  /* position: relative; */
  /* top: 50%; */
  transform: translate(0, 50%);
}
/** --- ログイン画面 END --- */

/** --- dashboard画面 STR --- */
.row-dashboard {
  gap: 1.5rem;
}

.dashboard-card {
  padding: 0 0 0.5rem 0;
  --dashboard-card-width: 200px;
  min-width: var(--dashboard-card-width);
}

@media (max-width: 1150px){
  /* 画面サイズが1150px以下の場合の設定 */
  .dashboard-card {
    padding: 0 0.2rem 0 0.2rem;
    min-width: 25%;
  }
}

.row-dashboard-card {
  width: var(--dashboard-card-width);
}

.dashboard-card .card {
  /* border-radius: 0; */
}

.row-dashboard-calendar {
  width: calc(100% - (230px)) !important;
}

@media screen and (max-width: 1112px) {
  .dashboard-card {
    display: inline-block;
    /* width: calc(50% - 0.2rem); */
  }

  .row-dashboard-card,
  .row-dashboard-calendar {
    width: 100% !important;
  }
}
/** --- dashboard画面 END --- */

/** --- 一覧テーブル STR --- */
table th,
table td {
  border-width: 1px;
}

table tbody td,
table tbody th {
  position: relative;
  overflow-y: auto;
  vertical-align: middle;
}

table tbody p {
  margin-top: 0;
  margin-bottom: 0;
}

.comment_col {
  position: absolute;
  top: 0;
}

.comment {
  white-space: break-spaces;
  overflow-wrap: anywhere;
}
/** --- 一覧テーブル END --- */

/** --- 承認タスク一覧テーブル STR --- */
.task_list_table {
  max-height: 150px;
  overflow-y: auto;
}

.task_list_table .table > tbody {
  vertical-align: middle;
}

.task_list_table .comment {
  white-space: break-spaces;
  overflow-y: auto;
}
/** --- 承認タスク一覧テーブル END --- */

/** --- 経歴情報マスタ項目一覧 STR --- */
.career-item-master-list li {
  height: 2.5rem;
  padding-top: 0.25rem;
}
.career-item-master-list ul {
  max-height: calc(2.5rem * 5);
  overflow: auto;
}
/** --- 経歴情報マスタ項目一覧 END --- */

/** --- 入力項目スタイル STR --- */
.flatpickr-input:disabled {
  background-color: #eaeaea !important;
  cursor: not-allowed !important;
}

textarea.non-resize {
  resize: none;
}

select {
  cursor: pointer;
}

.input_error {
  color: red;
  width: 100%;
  margin: 0;
}

.disabled_btn .btn.disabled, fieldset:disabled .btn {
  opacity: 0 !important;
}

:disabled {
  cursor: not-allowed;
}

.error_content {
  margin-top: 80px;
}
/** --- 入力項目スタイル END --- */

/** --- Pager STR --- */
.pager {
  display: flex;
  justify-content: center;
}
.pager .page-item {
  cursor: pointer;
  user-select: none;
}

.pager .page-item.disabled,
.pager .page-item.active
 {
  cursor: not-allowed;
}

.page-link.active,
.active > .page-link {
  z-index: 1;
}
/** --- Pager END --- */

/** --- modal STR --- */
.modal-overview {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: -999;
  opacity: 0;
  transition: opacity 1s;
}

.modal-overview.modal-show {
  z-index: 4;
  opacity: 1;
}

.modal-content {
  display: flex;
  justify-content: center;
}
.custom-modal-content {
  margin: auto;
  word-wrap: break-word;
  background: var(--bs-body-bg);
  border: var(--bs-border-width) solid var(--bs-border-color);
  border-radius: var(--bs-border-radius);
  padding: 1rem;
}
.custom-modal-header {
  display: flex;
  justify-content: center;
  align-items: center;
}
.custom-modal-content-body {
  width: 100%;;
}
/** --- modal END --- */

/* 一覧検索条件 STR */
.search_select_label_width {
  width: inherit;
}
.search_select_year_width {
  width: auto;
}
.search_select_status_width {
  width: auto;
}
.search_select_user_width {
  width: 18rem;
}
.search_select_type_width {
  width: 15rem;
}
/* 一覧検索条件 END */

/** --- SP専用スタイル STR --- */
.content-parent-sp {
  z-index: 0;
  background: var(--bg_base_color);
  min-height: calc(100vh - var(--navbar-height));
}

.content-sp {
  padding: 0.5rem;
  position: relative;
  top: calc(var(--sub-navbar-height) + var(--sp-menu-tab-height) + 1.5rem);
  margin-bottom: calc(var(--sub-navbar-height) + var(--sp-menu-tab-height) + var(--sp-nav-menu-height) + 1.5rem);
}

.sub-navbar-sp {
  width: 100%;
  margin-left: 0;
  top: var(--sp-navbar-height);
}
.nav-menu-sp {
  bottom: 0;
  width: 100%;
  position: fixed;
  z-index: 3;
  background: var(--bg_base_color);
  grid-auto-flow: column;
}
.nav-menu-sp .nav {
  height: var(--sp-nav-menu-height);
}

.nav-menu-sp .nav-item {
  width: 20%;
  text-align: center;
  height: var(--sp-nav-menu-height);
}
.nav-menu-sp .nav-item span {
  font-size: 0.6rem;
}
.nav-menu-sp .nav-item .bi {
  display: block;
}
.nav-menu-sp .nav {
  justify-content: center;
  box-shadow: 0 -5px 5px rgba(0, 0, 0, 0.2);
  margin-top: 0.5rem;
}

.list-row {
  background: #fcfcfcc2;
  border: 1px solid #e9e9e9d7;
  border-radius: var(--bs-border-radius);
  box-shadow: 3px 3px 0px rgba(0, 0, 0, 0.2);
  margin-bottom: 0.5rem;
  padding: 0.5rem;
}

.approval-status-list-row {
  background: #fcfcfcc2;
  border: 1px solid #e9e9e9d7;
  border-radius: var(--bs-border-radius);
  padding: 0.2rem 0.5rem 0.2rem 0.5rem;
  height: 3.5rem;
}
.approval-status-list-row .approval-status-list-col {
  height: 3rem;
}
.approval-status-list-row .approval-status-list-name {
  display: flex;
  align-items: center;
}
.approval-status-list-row .approval-status-list-pending {
  text-align: center;
  margin-top: 1rem;
  line-height: 1rem;
}

.approval-history {
  background: #b4b4b45e;
}
.approval-history .status-color {
  background: #b4b4b45e;
  color: #333333;
}

.menu-tab {
  position: sticky;
  width: 100%;
  height: var(--sp-menu-tab-height);
  top: calc(var(--sp-navbar-height) + var(--sub-navbar-height));
  background: var(--bg_base_color);
  cursor: pointer;
  z-index: 2;
}

.menu-tab .nav-link.active {
  color: #164a84;
}

@media screen and (max-width: 1023px) {
  .dashboard-card {
    padding: 0 0.2rem 0 0.2rem;
    min-width: 50%;
    margin-bottom: 0.5rem;
  }
  .dashboard-card .card-body {
    height: 2rem;
    padding: 0;
  }
  .dashboard-card .card-body p {
    font-size: 1rem;
    padding-top: 0.25rem;
  }
  .row-dashboard-card {
    width: 100%;
  }
  .row-dashboard-calendar {
    width: 100%;
  }

  .search_select_label_width {
    width: 35%;
  }
  .search_select_year_width {
    width: 100%;
  }
  .search_select_status_width {
    width: 100%;
  }
  .search_select_user_width {
    width: 100%;
  }
  .search_select_type_width {
    width: 100%;
  }
  .application-edit,
  .approval-edit,
  .career-edit,
  .career-list-page {
    padding-bottom: 3.5rem;
  }

  .new-application-btn,
  .new-career-btn {
    position: fixed;
    bottom: calc(var(--sp-nav-menu-height) + 1rem);
    right: 1rem;
  }
  .new-application-btn .btn,
  .new-career-btn .btn {
    height: 2.5rem;
    width: 2.5rem;
    border-radius: 50% !important;
  }
  .new-application-btn .bi,
  .new-career-btn .bi {
    font-size: 2rem;
    position: absolute;
    top: -10%;
    right: 10%;
    font-weight: bold;
  }
}
/** --- SP専用スタイル END --- */

.operation-btn-parent-view {
  position: relative;
  background: var(--bg_base_color);
}
.operation-btn-view-pc {
  position: absolute;
  top: 0;
  right: 0;
}

.operation-btn-view-sp {
  position: fixed;
  /* position: sticky; */
  display: flex;
  width: 100%;
  bottom: calc(var(--sp-nav-menu-height) + 0.5rem);
  left: 0;
  z-index: 1;
}

.approval-list-tr {
  td:nth-of-type(1) {
    width: 30%;
  }
  td:nth-of-type(2) {
    width: auto;
  }
  td:nth-of-type(3) {
    width: 140px;
  }
  td > p {
    position: absolute;
    top: 1rem;
    line-height: 1rem;
    width: 95%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}









/** --- 他スタイルに上書きされることを避けるために必ずスタイルシートの最下部に記載すること --- */
@media screen and (min-width: 1024px) {
  /* PC */
  .sp-only { display: none; }
  .size-normal { font-size: 1.4rem; }
}
@media screen and (max-width: 1023px) {
  /* SP */
  .pc-only { display: none; }
  .size-normal { font-size: 1.2rem; }
}
