body {
  max-width: 100%;
  min-height: 100vh;
  --bg_base_color: #eeeff1;
  background: var(--bg_base_color);
}

@media screen and (min-width: 1024px) {
  /* PC */
  .sp-only { display: none; }
  .size-normal { font-size: 1.4rem; }
}
@media screen and (max-width: 1023px) {
  /* SP */
  .pc-only { display: none; }
  .size-normal { font-size: 1.2rem; }
}

.row,
.col {
  padding: 0;
  margin: 0;
  --bs-gutter-x: 0 !important;
  --bs-gutter-y: 0 !important;
}

.bg_base_color {
  background-color: var(--bg_base_color);
}

.bg-white {
  background-color: #efefef;
}
.bg-darkBlue {
  background-color: #1B435D;
}
.bg-blue {
  background-color: #78BBE6;
}
.bg-skyBlue {
  background-color: #D5EEFF;
}
.bg-orange {
  background-color: #F99F48;
}
.font-white {
  color: #efefef !important;
}

/** --- ステータスバッジ 表示スタイル STR --- */
.status-color.none {
  background-color: #333333;
}
.status-color.draft {
  background-color: #99ccff;
}
.status-color.pending {
  background-color: #ffcc66;
}
.status-color.approval,
.status-color.complete {
  background-color: #99cc99;
}
.status-color.reject {
  background-color: #ff9999;
}
.status-color.cancel {
  background-color: #858483;
}
/** --- ステータスバッジ 表示スタイル END --- */

.classification-label {
  width: 5rem;
  height: 100%;
  background-color: #f0f0f0;
  color: #333333;
  border-radius: 5px;
  text-align: center;
  font-size: 0.75rem;
  border: 1px solid #333333;
  margin-top: 0.2rem;
}

/** --- navbar STR --- */
.navbar {
  position: fixed !important;
  height: 60px;
  width: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
  --navbar-height: 60px;
  background: #164a84;
}

.sub-navbar {
  position: fixed;
  background-color: var(--bg_base_color);
  width: calc(100% - 90px);
  --sub-navbar-height: 50px;
  height: var(--sub-navbar-height);
  margin-left: 90px;
  z-index: 2;
  /* border-bottom: 1px solid #e7e7e7; */
  box-shadow: 1px 1px 0 rgba(0, 0, 0, 0.1);
}
/** --- navbar END --- */

/** --- nav-menu STR --- */
.nav-menu {
  position: fixed;
  --nav-menu-width: 90px;
  max-width: var(--nav-menu-width) !important;
  min-width: var(--nav-menu-width) !important;
  top: 60px;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
  text-align: center;
  /* background-color: #e7e7eb; */
  background-color: #c2cbd2;
  /* background-color: #f8f8f8; */
  border-right: 1px solid #e7e7e7;
}

.nav {
  margin-top: 1rem;
}

.nav-item {
  height: 4rem;
}
.nav-item:hover {
  .bi {
    color: #164a84;
  }
  .bi + span {
    color: #164a84;
  }
}
.nav-item .bi {
  display: block;
  font-size: 1.5rem;

}
.nav-item p {
  font-size: 0.75rem;
  padding: 0;
}

.nav-item-contains-sub {
  position: relative;
  .nav-item-sub {
    opacity: 0;
    transition: height 0.2s 0s ease-in-out;
    position: absolute;
    top: 0;
    left: -200px;
    /* width: fit-content; */
    /* width: 100%; */
    height: 0;
    background-color: #e7e7e7;
    border-top: solid 1px #c2cbd2;
    border-left: solid 1px #c2cbd2;
    border-right: solid 1px #c2cbd2;
    box-shadow: 3px 3px 0 rgba(0, 0, 0, 0.2);
    z-index: 999;
  }
  .sub-item {
    border-bottom: solid 1px #c2cbd2;
    height: 3rem;
    width: 110px;
  }
  .sub-item p {
    /* margin-top: 0.5rem; */
    padding-top: 0.75rem;
  }
}

.nav-item-contains-sub:hover {
  .nav-item-sub {
    opacity: 1;
    height: 6rem;
    left: 100%;
  }
}

.nav-item.pos-bottom {
  position: absolute;
  width: 100%;
  bottom: 2rem;
}

.nav-link {
  cursor: pointer;
  color: rgb(108, 117, 125);
}

.nav-link:focus {
  color: rgb(108, 117, 125);
}

.nav-link:hover {
  color: rgb(108, 117, 125, 0.8);
}

.nav-link.disabled {
  color: rgba(108, 117, 125, 0.1);
}

.current-nav-item {
  z-index: 3;
  /* position: relative;
  width: calc(100% + 1px);
  background: var(--bg_base_color);
  color: rgb(108, 117, 125);
  font-weight: bold;
  z-index: 3;
  border-left: 6px solid #164a84;
  border-top: 1px solid #e7e7e7;
  border-bottom: 1px solid #e7e7e7; */
}
.current-nav-item .bi {
  color: #164a84;
  font-weight: bold;
}
.current-nav-item .bi + span {
  color: #164a84;
  font-weight: bold;
}
/** --- nav-menu END --- */

/** --- コンテンツ表示領域 STR --- */
.content-body {
  margin-top: 60px;
}

.content-parent {
  margin-left: 90px;
  padding: 1rem 1rem 1rem 1rem;
  overflow: auto;
  z-index: 0;
  min-height: calc(100vh - 60px);
  background: var(--bg_base_color);
}

.content {
  width: 100%;
  min-width: 768px;
  min-height: 100%;
  margin-top: 50px;
  z-index: 1;
  position: relative;
}

.page-title {
  display: inline-block;
  width: 100%;
  padding: 0rem 1rem 0.5rem 1rem;
  margin-bottom: 1rem;
  border-bottom: 1px solid #e7e7e7;
}
/** --- コンテンツ表示領域 END --- */

/** --- ログイン画面 STR --- */
.login-content {
  z-index: 0;
  padding: 1rem;
  position: fixed;
  width: 100%;
  margin-top: 4rem;
}
/** --- ログイン画面 END --- */

/** --- dashboard画面 STR --- */
.row-dashboard {
  gap: 1.5rem;
}

.dashboard-card {
  padding: 0 0 0.5rem 0;
  --dashboard-card-width: 200px;
  min-width: var(--dashboard-card-width);
}

@media (max-width: 1150px){
  /* 画面サイズが1150px以下の場合の設定 */
  .dashboard-card {
    padding: 0 0.2rem 0 0.2rem;
    min-width: 25%;
  }
}

.row-dashboard-card {
  width: var(--dashboard-card-width);
}

.dashboard-card .card {
  border-radius: 0;
}

.row-dashboard-calendar {
  width: calc(100% - (230px)) !important;
}

.fc {
  position: sticky;
}

/* カレンダー　イベント カーソル */
.fc-event-main {
  cursor: pointer;
}

/* カレンダー　日付リンク無効化　 */
.fc-daygrid-day-number,
.fc-col-header-cell-cushion {
  pointer-events: none;
  text-decoration: none;
}

.fc-day {
  cursor: pointer;
}
.event-contents {

}
.fc .fc-bg-event {
  opacity: 1;
}
.calendar-event-content.pc-only {
  text-align: center;
  align-content: center;
  font-size: 1rem;
  height: 100%;
  i {
    font-size: 80%;
  }
}
.calendar-event-content.sp-only {
  text-align: center;
  align-content: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-size: 0.6rem;
  /* height: 100%; */
}

@media screen and (max-width: 1112px) {
  .dashboard-card {
    display: inline-block;
    /* width: calc(50% - 0.2rem); */
  }

  .row-dashboard-card,
  .row-dashboard-calendar {
    width: 100% !important;
  }
}
/** --- dashboard画面 END --- */

/** --- 一覧テーブル STR --- */
table th,
table td {
  border-width: 1px;
}

table tbody td,
table tbody th {
  position: relative;
  overflow-y: auto;
  vertical-align: middle;
}

table tbody p {
  margin-top: 0;
  margin-bottom: 0;
}

.comment_col {
  position: absolute;
  top: 0;
}

.comment {
  white-space: break-spaces;
  overflow-wrap: anywhere;
}
/** --- 一覧テーブル END --- */

/** --- 承認タスク一覧テーブル STR --- */
.task_list_table {
  max-height: 150px;
  overflow-y: auto;
}

.task_list_table .table > tbody {
  vertical-align: middle;
}

.task_list_table .comment {
  white-space: break-spaces;
  overflow-y: auto;
}
/** --- 承認タスク一覧テーブル END --- */

/** --- 入力項目スタイル STR --- */
.flatpickr-input:disabled {
  background-color: #eaeaea !important;
  cursor: not-allowed !important;
}

textarea.non-resize {
  resize: none;
}

select {
  cursor: pointer;
}

.input_error {
  color: red;
  width: 300px;
  margin: 0;
}

.disabled_btn .btn.disabled, fieldset:disabled .btn {
  opacity: 0 !important;
}

:disabled {
  cursor: not-allowed;
}

.error_content {
  margin-top: 80px;
}
/** --- 入力項目スタイル END --- */

/** --- Pager STR --- */
.pager {
  display: flex;
  justify-content: center;
}
.pager .page-item {
  cursor: pointer;
  user-select: none;
}

.pager .page-item.disabled,
.pager .page-item.active
 {
  cursor: not-allowed;
}
/** --- Pager END --- */

/** --- modal STR --- */
.modal-overview {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.15);
  z-index: -999;
  opacity: 0;
  transition: opacity 0.5s;
}

.modal-overview.modal-show {
  z-index: 4;
  opacity: 1;
}

.modal-body {
  position: fixed;
  top: calc(10% + 30PX);
  left: 10%;
  width: 80%;
  height: 80vh;
  padding: 2rem;
  background-color: #fff;
  border: solid 1px #333333;
  box-shadow: 3px 3px 0 rgba(0, 0, 0, 0.2);
  overflow: auto;
  z-index: 5;
}

.modal-content {
  display: flex;
  justify-content: center;
}
/** --- modal END --- */

/** --- SP専用スタイル STR --- */
.content-parent-sp {
  padding: 1rem 1rem 1rem 1rem;
  overflow: auto;
  z-index: 0;
  min-height: calc(100vh - 50px);
  background: var(--bg_base_color);
}

.content-sp {
  width: 100%;
  height: auto;
  margin-top: 50px;
  margin-bottom: 80px;
  z-index: 1;
  position: relative;
}

.sub-navbar-sp {
  margin-left: 0;
  width: 100%;
}
.nav-menu-sp {
  bottom: 0;
  position: fixed;
  width: 100%;
  z-index: 2;
  background: var(--bg_base_color);
  grid-auto-flow: column;
}
.nav-menu-sp .nav-item {
  width: 20%;
  text-align: center;
  height: 3.5rem;
}
.nav-menu-sp .nav-item span {
  font-size: 0.6rem;
}
.nav-menu-sp .nav-item .bi {
  display: block;
}
.nav-menu-sp .nav {
  justify-content: center;
  box-shadow: 0 -5px 5px rgba(0, 0, 0, 0.2);
  margin-top: 0.5rem;
}

.list-row {
  background: #fcfcfcc2;
  border: 1px solid #e9e9e9d7;
  box-shadow: 3px 3px 0px rgba(0, 0, 0, 0.2);
  margin-bottom: 0.5rem;
  padding: 0.5rem;
}

.approval-status-list-row {
  background: #fcfcfcc2;
  border: 1px solid #e9e9e9d7;
  padding: 0.2rem 0.5rem 0.2rem 0.5rem;
  height: 3.5rem;
}
.approval-status-list-row .approval-status-list-col {
  height: 3rem;
}
.approval-status-list-row .approval-status-list-name {
  display: flex;
  align-items: center;
}
.approval-status-list-row .approval-status-list-pending {
  text-align: center;
  margin-top: 1rem;
  line-height: 1rem;
}

.approval-history {
  background: #b4b4b45e;
}
.approval-history .status-color {
  background: #b4b4b45e;
  color: #333333;
}

.config-user-tab {
  cursor: pointer;
  margin-top: -1.5rem;
}

.config-user-tab .nav-link.active {
  color: #164a84;
}

@media screen and (max-width: 1023px) {
  .dashboard-card {
    padding: 0 0.2rem 0 0.2rem;
    min-width: 50%;
    margin-bottom: 0.5rem;
  }
  .dashboard-card .card-body {
    height: 2rem;
    padding: 0;
  }
  .dashboard-card .card-body p {
    font-size: 1rem;
    padding-top: 0.25rem;
  }
  .row-dashboard-card {
    width: 100%;
  }
  .row-dashboard-calendar {
    width: 100%;
  }
}
/** --- SP専用スタイル END --- */
